<!DOCTYPE html>
<html>
  <head>
    <title>sequelize</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <style>
      table{
        border-collapse: collapse;
      }
      td{
        border: 1px solid black;
      }
    </style>
    <table>
      <tr>
        <td>pbtype_sn</td>
        <td>pb_sbj</td>
        <td>pb_chap</td>
      </tr>
      <tr>
        <td><%= users[0].pbtype_sn %></td>
        <td><%= users[0].pb_sbj %></td>
        <td><%= users[0].pb_sbj%></td>
      </tr>
    </table>
  </body>
</html>